body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  color: #333;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffffd8;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h1,
h3 {
  text-align: center;
  color: #222;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

select,
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  text-align: center;
  font-weight: 500;
}
.summary-btn {
  background-color: #2196f3;
  color: white;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.summary-btn:hover {
  background-color: #1976d2;
}
